<footer class="bg-dark text-white mt-3" data-bs-theme="dark">
    <div class="container">
        <div class="row mx-0">
            <div class="col-md-12 text-center">
                <p>© 2023 - <a href="{% url 'inicio' %}" class="text-decoration-none text-light">PixelGame</a></p>
                <div class="border-top row d-flex justify-content-center">
                    <p class="fs-6 col-8">Desarrollado por Fabian Parraguez <a href="" target="_blank"><i class="bi bi-linkedin"></i></a></p>
                    <p class="fs-6 col-8">Desarrollado por Tomás Hernández <a href="https://www.linkedin.com/in/tomás-hernandez-88740b16b" target="_blank"><i class="bi bi-linkedin"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>