<header class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
            <a class="navbar-brand">PixelGame</a>
            <div class="collapse navbar-collapse d-flex justify-self-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Juegos</a>
                    <li class="nav-item">
                    </li>
                    <a class="nav-link" href="">Tarjetas</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex justify-self-end">
                <a class="btn btn-outline-light me-2" href="">Iniciar sesión</a>
                <a class="btn btn-warning" href="">Registrarse</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>