{% extends 'base/base.html' %}
{% load static %}
{% block title %}Inicio | PixelGame{% endblock title %}
{% block style %}
{% static 'pages/index/css/index.css' %}
{% endblock style %}
{% block content %}
<main class="container pb-3 mt-3">
    <div class="row">
        <div class="col-12 col-md-8 mt-4">
            <div id="Carrusel" class="carousel slid carousel-dark carousel-fade conte">
                <section class="carousel-inner">
                    <article class="carousel-item active">
                        <img src="{% static 'pages/index/img/No_Image_Available.jpg' %}" alt="" class="d-block w-100">
                    </article>
                    <article class="carousel-item">
                        <img src="{% static 'pages/index/img/No_image_available.png' %}" alt="" class="d-block w-100">
                    </article>
                </section>
                <button class="carousel-control-prev" type="button" data-bs-target="#Carrusel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#Carrusel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <article class="col col-md-3 d-flex align-items-center">
            <h2 class="texto">Algunos de nuestros juegos</h2>
        </article>
    </div>
    <h3 class="texto my-3">Ultimos productos agregados</h3>
    <section class="row container element">
        {% for producto in productos %}
        <div class="card text-bg-dark mx-1" style="width: 18rem;">
            <img src="{{producto.imagen.url}}" class="card-img-top mt-2" alt="...">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title game">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.descripcion}}</p>
                <div class="mt-auto d-flex justify-content-center">
                    <a href="{% url 'tienda' %}" class="btn btn-danger">Tienda</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}