{% extends 'base/base.html' %}
{% block title %}Tienda | PixelGame{% endblock title %}
{% load humanize %}

{% block content %}
<main class="container">
    <section class="row">
        <section class="col-12 my-2">
            <div class="container">
                <h2 class="text-white">Tienda</h2>
            </div>
            <button class="btn btn-danger d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#filtros"
                aria-expanded="false" aria-controls="filtros">
                <i class="bi bi-filter"></i>
            </button>
        </section>
        <section class="text-white collapse collapse-horizontal d-md-block col-12 col-md-3" id="filtros">
                <form action="{% url 'buscar' %}" method="POST" >
                    {% csrf_token %}
                    <div class="bg-dark mb-1 text-center py-1">
                        <h6>Nombre del producto</h6>
                    <div class="input-group input-group-sm mb-3 w-75 mx-auto">
                        <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm" id="busqueda" name="busqueda">
                        <button class="input-group-text" id="inputGroup-sizing-sm" type="submit"><i
                            class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
                <form action="{% url 'filtrar_productos' %}" method="post" id="filtrosForm">
                    {% csrf_token %}
                <div class="bg-dark mb-1">
                    <button id="tipo" class="btn text-white w-100 d-flex justify-content-between"
                        data-bs-toggle="collapse" data-bs-target="#tipo_colapse" type="button">
                        <span>Tipo</span>
                        <i class="bi bi-arrow-down"></i>
                    </button>
                    <div class="collapse show" id="tipo_colapse">
                        <ul class="w-100 navbar-nav px-2">
                            {% for tipo in tipos %}
                            <li class="nav-item">
                                <label for="tipo-{{tipo.id}}" class="w-100">
                                    <div class="justify-content-between d-flex align-items-center">
                                        <div>
                                            <input type="checkbox" id="tipo-{{tipo.id}}" onchange="enviarFiltros()" {%if tipo.id in tipos_seleccionados %}checked{% endif %}
                                            name="tipo" value ="{{tipo.id}}">
                                            <span>{{tipo.nombre}}</span>
                                        </div>
                                        <span class="badge bg-secondary">{{tipo.cantidad}}</span>
                                    </div>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="bg-dark mb-1">
                    <button id="genero" class="btn text-white w-100 d-flex justify-content-between"
                        data-bs-toggle="collapse" data-bs-target="#genero_colapse" type="button">
                        <span>Genero</span>
                        <i class="bi bi-arrow-down"></i>
                    </button>
                    <div class="collapse show" id="genero_colapse">
                        <ul class="w-100 navbar-nav px-2">
                            {% for genero in generos %}
                            <li class="nav-item">
                                <label for="genero-{{genero.id}}" class="w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>    
                                            <input type="checkbox" id="genero-{{genero.id}}" onchange="enviarFiltros()" {%if genero.id in generos_seleccionados %}checked{% endif %}
                                            name="genero" value="{{genero.id}}">
                                            <span>{{genero.nombre}}</span>
                                        </div>
                                        <span class="badge bg-secondary">{{genero.cantidad}}</span>
                                    </div>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="bg-dark mb-1">
                    <button id="plataforma" class="btn text-white w-100 d-flex justify-content-between"
                        data-bs-toggle="collapse" data-bs-target="#plataforma_colapse" type="button">
                        <span>Plataforma</span>
                        <i class="bi bi-arrow-down"></i>
                    </button>
                    <div class="collapse show" id="plataforma_colapse">
                        <ul class="w-100 navbar-nav px-2">
                            {% for plataforma in plataformas %}
                            <li class="nav-item">
                                <label for="plataforma-{{plataforma.id}}" class="w-100">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <input type="checkbox" id="plataforma-{{ plataforma.id }}" onchange="enviarFiltros()" {%if plataforma.id in plataformas_seleccionados %}checked{% endif %}
                                            name="plataforma" value="{{ plataforma.id }}">
                                            <span>{{plataforma.nombre}}</span>
                                        </div>
                                        <span class="badge bg-secondary">{{plataforma.cantidad}}</span>
                                    </div>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </form>
        </section>
        <section class="col-12 col-md-9">
            {% if mensaje %}
            <div class="alert alert-warning" role="alert">
                {{ mensaje }}
            </div>
            {% else %}
            <div class="row">
                {% if cantidad_productos %}
                <div>
                    <h5>Resultados encontrados {{ cantidad_productos }}  </h5>
                </div>
                {% endif %}
                {% if busqueda %}
                <div>
                    <h5>Resultados de la busqueda {{ busqueda }}  </h5>
                </div>
                {% endif %}
                <section class="row mx-0">
                    {% for producto in productos %}
                        <div class="py-3 col-12 col-md-3" >
                            <article class="card h-100 bg-dark pb-2">
                                    {% if producto.imagen %}
                                    <img src="{{producto.imagen.url}}" alt="{{producto.nombre}}" class="card-img-top">
                                    {% else %}
                                    <img src="" alt="{{producto.nombre}}" class="img-fluid card-img-top">
                                    {% endif %}
                                <div class="text-white text-center ">
                                    {{ producto.nombre }}
                                    <p class="fs-6"><b>  ${{ producto.precio|floatformat:"0"|intcomma:"," }}  </b></p>
                                </div>
                                <div class="d-flex justify-content-center buttom">
                                    <a href="{% url 'agregar_producto' producto_id=producto.id  %}" class="btn btn-outline-light">Agregar al carrito</a>
                                </div>
                            </article>
                        </div>

                    {% endfor %}
                </section>
            </div>
            {% endif %}
            
        </section>
    </section>

    <script>
        function enviarFiltros() {
            document.getElementById("filtrosForm").submit();
        }
    </script>
</main>
{% endblock content %}