{% extends 'base/base.html' %}
{% load static %}
{% block title %}Confirmar compra | PixelGame{% endblock title %}
{% block content %}
<main class="container">
    <section class="alert alert-dark mt-3" role="alert">
        <h2 class="text-center">Confirmar compra</h2>
    </section>
    <section class="table-responsive">
        <div>
            {% if carrito %}
            <table class="table table-striped table-hover table-dark">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in carrito %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>
                            {{ producto.cantidad }}
                        </td>
                        <td>{{ producto.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3 class="text-end">Total: ${{ total }}</h3>
            <div class="d-flex justify-content-center">
                <a href="{% url 'tienda' %}" class="btn btn-danger"><i class="bi bi-shop"></i> Seguir comprando</a>
                <a href="{% url 'realizar_compra' %}" class="btn btn-success">Confirmar compra</a>
            </div>
            {% else %}
            <div class="alert alert-warning">
                <h3 class="text-center">No hay productos en el carrito</h3>
                <a href="{% url 'tienda' %}" class="btn btn-danger">Ir a la tienda</a>
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock content %}
